name: Update Dependencies

on:
  # Run every day.
  schedule:
    - cron: '0 3 * * *'
  # And on on every PR merge so we get the updated dependencies ASAP, and to make sure the changelog doesn't conflict.
  push:
    branches:
      - main


permissions:
  contents: write
  pull-requests: write
jobs:
  android:
    uses: getsentry/github-workflows/updater@v3
    with:
      path: scripts/update-android.sh
      name: Android SDK
      pr-strategy: update
    secrets:
      api-token: ${{ secrets.CI_DEPLOY_KEY }}

  cocoa:
    uses: getsentry/github-workflows/updater@v3
    with:
      path: scripts/update-cocoa.sh
      name: Cocoa SDK
      pr-strategy: update
    secrets:
      api-token: ${{ secrets.CI_DEPLOY_KEY }}

  javascript:
    uses: getsentry/github-workflows/updater@v3
    with:
      path: scripts/update-javascript.sh
      name: JavaScript SDK
      pr-strategy: update
    secrets:
      api-token: ${{ secrets.CI_DEPLOY_KEY }}

  javascript-siblings:
    uses: getsentry/github-workflows/updater@v3
    with:
      path: scripts/update-javascript-siblings.sh
      name: JavaScript Sibling SDKs
      pr-strategy: update
    secrets:
      api-token: ${{ secrets.CI_DEPLOY_KEY }}

  wizard:
    uses: getsentry/github-workflows/updater@v3
    with:
      path: scripts/update-wizard.sh
      name: Wizard
      pr-strategy: update
      changelog-entry: false
    secrets:
      api-token: ${{ secrets.CI_DEPLOY_KEY }}
